<!DOCTYPE html>
<html>
  <head>
   <meta charset='utf-8' />
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/skeleton.css') }}">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">


    <script>
    function loadall(){
      console.log('All assets are loaded')
      const matches = document.querySelectorAll("span.repl");
      matches.forEach(function(element) {
      element.classList.remove("repl");
      var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                   // Typical action to be performed when the document is ready:
                   element.innerHTML = xhttp.responseText;
                    loadall();
                }
                else
                {
                    element.innerHTML = "Error while loading";
                }

            };
            xhttp.open("GET", element.dataset.a, true);
            xhttp.send();

      });
      };
    document.addEventListener("DOMContentLoaded", loadall);
    </script>
 </head>
  <body>
  <div class="sidenav">
 {% block sidebar %}

   {% endblock %}
  </div>

<!-- Page content -->
<div class="main">
  {% block body %}

  {% endblock %}
</div>

  </body>
</html>