{% extends "header.html" %}
{% block body %}
<ul class="biglist">
{% for x in people %}
    <li><span class="repl"  data-a="insert/person/short/?id={{x}}">replace this {{x}}</span></li>
{% endfor %}
</ul>
{% endblock %}