{% if history %}

current adress: {{ current }}

<ul>
{% for (ts,ch) in history %}

<li>
{{ch}} since <span class="repl"  data-a="/insert/timestamp/?ts={{ts}}">loading...</span>
</li>
{% endfor %}
    </ul>
{% endif %}