{% extends "header.html" %}
{% block sidebar %}
{{ first_name}} {{ last_name}}
<ul>
    <li>
        age: {{ age}}
    </li>
    <li>
        born on: <span class="repl"  data-a="/insert/timestamp/?ts={{birth_day}}">loading...</span>
    </li>
    <li>
        gender: {% if gender %} female {% else %} male {% endif %}
    </li>
    <li>
        orientation: {{ orientation }}
    </li>
    {% if alive %}
    <li>
        status: alive
    </li>
    {% else %}
    <li>
        status: death
    </li>
    <li>
        died on:  <span class="repl"  data-a="/insert/timestamp/?ts={{ death_day}}">loading...</span>
    </li>
    {% endif %}
</ul>
{% endblock %}
{% block body %}
<h1>{{ full_name}}</h1>

<h2>General</h2>
<table>
    <tr>
        <td>
            name
        </td>
        <td>
            {{ first_name}} {{ last_name}}
        </td>
    </tr>
    <tr>
        <td>
            age
        </td>
        <td>
            {{ age}}
        </td>
    </tr>
    <tr>
        <td>
            born on
        </td>
        <td>
            <span class="repl"  data-a="/insert/timestamp/?ts={{birth_day}}">loading...</span>
        </td>
    </tr>
    <tr>
       <td>
            gender
        </td>
        <td>
            {% if gender %} female {% else %} male {% endif %}
        </td>
    </tr>
    <tr>
       <td>
            orientation
        </td>
        <td>
            {{ orientation }}
        </td>
    </tr>
    {% if alive %}
    <tr>
       <td>
            status
        </td>
        <td>
            alive
        </td>
    </tr>
    {% else %}
    <tr>
       <td>
            status
        </td>
        <td>
            dead
        </td>
    </tr>
    <tr>
        <td>
            died on
        </td>
        <td>
            <span class="repl"  data-a="/insert/timestamp/?ts={{ death_day}}">loading...</span>
        </td>
    </tr>
    {% endif %}
</table>

<h2>Relationships</h2>

<span class="repl"  data-a="/insert/relationship/?id={{id}}">loading relationships</span>

<h2>Locations</h2>

<span class="repl"  data-a="/insert/location/?id={{id}}">loading locations</span>

{% endblock %}

