{% if history %}

<span class="repl"  data-a="/insert/person/short/?id={{aux}}">{{aux}}</span> ({{ relation }})

<ul>
{% for (ts,ch) in history %}

<li>
{{ch}} since <span class="repl"  data-a="/insert/timestamp/?ts={{ts}}">loading...</span>
</li>
{% endfor %}
    </ul>
{% endif %}